{
    "extends": [
        "next",
        "eslint:recommended"
    ],
    "env": {
        "node": true,
        "commonjs": true
    },
    "rules": {
        "quotes": [
            "error",
            "single"
        ],
        "jsx-quotes": [
            "error",
            "prefer-single"
        ],
        "eol-last": [
            "error"
        ],
        "sort-imports": [
            "error"
        ],
        "semi": [
            "error"
        ],
        "indent": [
            "error",
            4
        ],
        "no-console": [
            "error"
        ]
    }
}
