{
  "extends": [
    "next",
    "eslint:recommended"
  ],
  "rules": {
    "quotes": [
      "error",
      "single"
    ],
    "jsx-quotes": [
      "error",
      "prefer-single"
    ],
    "eol-last": [
      "error"
    ],
    "sort-imports": [
      "error"
    ]
  }
}
